.*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.log
config.status
config.sub
config
configure
debian/files
debian/vyatta-base
debian/vyatta-base.debhelper.log
debian/vyatta-base.substvars
