Source: vyatta-base
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-base
Section: contrib/net
Architecture: all
Priority: extra
Depends: sed (>= 4.1.5),
 bash (>= 3.1),
 grep (>= 2.5),
 dpkg (>= 1.14.16),
 expect,
 apt
Description: VyOS full-upgrade script
 This script allows a full-upgrade all VyOS software
 using apt and pdkg.  It will install all VyOS packages,
 regardless of whether the individual VyOS package was
 previously installed.
